<%- include("partials/heading") -%>
<title>Yuchak Corporation | 最新资讯</title>
<link rel="stylesheet" href="css/news.css">

<div class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-6">
      <div class="article-container">
        <div class="articles">
          <h1 class="a-t">「海外置產配置」一探究竟為什麼中國超級富豪都青睞佛州邁阿密？</h1>
          <h6 class="a-d">February 2, 2017</h6>
          <img class="a-img" src="images/news/n-1.webp" alt="news1">
          <p class="a-p">在投資海外城市及標誌性建築之後，中國超級富豪們憑借對西方市場的經驗積累，接下來他們仍會尋求其他商業收益較高的房地產行業。這時他們的目光將移開倫敦、紐約和悉尼，轉向美國南部的邁阿密。

            邁阿密在全球超級富豪最喜歡城市中排名第六，像世界首富比爾‧蓋茨、功夫巨星成龍、網球明星小威廉姆斯等富商名流在邁阿密就置有房產。根據《2015年財富報告》，邁阿密和紐約是美國僅有的兩個擁有世界級設施和房產的城市，同時滿足資產淨值超過3,000萬美元的富翁生活。

            價格優勢吸引富豪買家

            邁阿密房價比許多國際大城市便宜，對投資者相當具有吸引力。根據佳士得（Christ...</p>
        </div>
      </div>

      <%for (i=0;i< foundNews.length;i++){%>
        <div class="article-container">
          <div class="articles">
            <h1 class="a-t"><%=foundNews[i].newsTitle%></h1>
            <h6 class="a-d"><%=foundNews[i].newsDate%></h6>
            <p class="a-p"><%=foundNews[i].newsLBBody%></p>
          </div>
        </div>

      <%}%>
</div>

    <div class="col-2">
      <div class="side">
        <div class="features">
          <h1>Featured Posts</h1>
          <hr>
          <div>
            <img src="images/news/n-1.webp" alt="news1">
            <h2>「海外置產配置」一探究竟為什麼中國超級富豪都青睞佛州邁阿密？</h2>
            <p class="side-date">February 2, 2017</p>
          </div>
        </div>
        <div class="recent">
          <h1>Recent Posts</h1>
          <hr>
          <div>
            <img src="images/news/n-1.webp" alt="news1">
            <h2>「海外置產配置」一探究竟為什麼中國超級富豪都青睞佛州邁阿密？</h2>
            <p class="side-date">February 2, 2017</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<%- include("partials/footer") -%>
